{% extends "base.html" %}
{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url "CreatePoll" %}">Создать опрос</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url "UpdatePoll" poll.pk %}">Редактировать опрос</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url "DeletePoll" poll.pk %}">Удалить опрос</a>
    </li>
{% endblock %}

{% block content %}

    <h1>Подробная информация <br>
        об опросе:</h1>
    <p>
        <b>Название опроса:</b>
        {{ poll.question }}
    </p>
    <p>
        <b>Дата создания:</b>
        {{ poll.created_p }}
    </p>
    <p>
        <b>Дата изменения:</b>
        {{ poll.updated_p }}
    </p>
    <b>Ответы:</b>
    {% for choice in poll.choices.all %} <br>
        {{ choice.text_answer }} <br>
        <a href="{% url "UpdateChoice" choice.pk %}">Изменить</a>
        <a href="{% url "DeleteChoice" choice.pk %}">Удалить</a>
    {% endfor %}
    <br>
    <br>
    <a href="{% url "PollCreateChoice" poll.pk %}">Добавить свой ответ</a>
    <br>


    <br>
    <a href="{% url "index" %}">На главную</a>
{% endblock %}